<h2 class="content-block">{{ "master-data.title" | translate }}</h2>

<div class="content-block dx-card responsive-paddings">
  <dx-select-box
    (onValueChanged)="onDataTypeChanged($event)"
    [items]="dataTypes"
    displayExpr="name"
    valueExpr="id"
  ></dx-select-box>
</div>
<div
  class="content-block dx-card responsive-paddings"
  *ngIf="selectedDataType !== undefined"
>
  <dx-data-grid
    #grid
    (onEditorPreparing)="gridEditorPreparing($event)"
    [dataSource]="ds"
    [showBorders]="true"
    [masterDetail]="{ enabled: selectedDataType == 3, template: 'detail' }"
    (onRowExpanded)="masterDetailExpanded($event)"
    [columns]="columns"
  >
    <dxo-editing
      mode="form"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
    >
    </dxo-editing>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="false"></dxo-group-panel>

    <div *dxTemplate="let masterData of 'detail'">
      <dx-tag-box
        #masterDetailsTagBox
        [dataSource]="masterDetailDS"
        [showSelectionControls]="true"
        applyValueMode="useButtons"
        [displayExpr]="tagBoxShowValue"
        valueExpr="id"
        [value]="masterDetailValue"
      >
      </dx-tag-box>
      <button
        style="float: right; margin-top: 12px"
        *ngIf="selectedDataType == 3"
        (click)="
          masterDetailsTagSave(
            masterDetailsTagBox.selectedItems,
            masterData.data.id
          )
        "
      >
        {{ _translate.instant("STOCK_MODULE.MASTER_DATA.SAVE") }}
      </button>
    </div>
  </dx-data-grid>
</div>
